:root {
	background-color: var(--background-color);
	color: var(--text-color);

	--background-color: #dedede;
	--text-color: #191919;
}

@media (prefers-color-scheme: dark) {
	:root {
		background-color: var(--background-color);
		color: var(--text-color);

		--background-color: #191919;
		--text-color: #aeaeae;
		--link-color: #96adb5;
		--link-hover-color: #ff4081;
	}

	#github-logo {
		content: url('gh-mark-white.svg')
	}
}

body {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	margin: 40px auto;
	max-width: 650px;
	line-height: 1.6em;
	font-size: 18px;
	padding: 0;
}

footer {
	font-size: 16px;
}

h1,
h2,
h3 {
	line-height: 1.2em
}

a:link,
a:visited,
a:active {
	color: var(--link-color);
}

a:hover {
	color: var(--link-hover-color);
}
